@import '_config.scss';


header {
  display:block;
  width:100%;
  color:$blue;
  background:$black;
}

app {
  .one{width:50%;height:100px;background-color:green;margin:10px;}

  .two{width:100%;height:100px;background-color:green;margin:10px;}
}
